<h1 style="text-align:center;">Welcome to the Kitchen app</h1>

<router-outlet></router-outlet>

<a routerLink="/additem">Add items</a>
&nbsp;

<a routerLink="/showitems">Show available items </a>
&nbsp;
<a routerLink="/NewAdmin"> Admin Reg</a>
<a routerLink="/NewCustomer"> Customer registration </a>
<br>

<a routerLink="/HomePage"> click here to go to HomePage</a>
<br>
<br>
<br>
<b>Enter the item to be deleted</b>
<br>
<br>
<div class="card-body">
    <form >
        <label>Item Name</label>
        &nbsp;
        <input type="text" />
        
    <br>
        <input type="Submit" value="Submit" class="btn btn-success"/>
        
        </form>
    <h6>Item deleted Successfully</h6>
  </div>



